.m-r-5 {
	margin-right: 5px;
}

.m-r-10 {
	margin-right: 10px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

#first-row {
  margin-bottom: 20px;
}
#second-row {
  margin-bottom: 20px;
  min-height: 300px;
  .result-panel {
    p, span {
      margin: 0px;
    }
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    pre {
      padding: 0px;
      margin: 0px;
      border: 0px;
    }
  }
}
#third-row {
  margin-bottom: 20px;
}